<h1>Ofte Stilte Spørsmål</h1>
<dl>
    <dt>Er jeg anonym?</dt>
    <dd>Ingen vil kunne se at du er på tjenesten eller har registrert deg uten å bruke lønnsdataene.</dd>
    <dt>Kan jeg stole på dataene som ligger her?</dt>
    <dd>Vi kan ikke kvalitetssikret dataene som ligger her og en må bruke skjønn for å se hvorvidt man skal stole på datene som ligger her.</dd>
</dl>