<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form>
    	<label for="email">
    		<input id="email" type="text">
    	</label>
    	<button>Registrer meg</button>
    </form>
  </body>
</html>