<h1>Wage transparency with Liggeran</h1>
<p>How are you doing compared to your co-workers? Most companies practice a silent no transparency rule when it comes to wages. This only benefits the company and is not in the interest of the workers. That's what liggeran want's to solve, by making it more transparent.</p>

<p>Add your email, years of work experience and current salary. Then compare with others from the same company. You email is never disclosed and is only used to verify that you work for the company.</p>

<a href="https://github.com/liggeran/liggeran">Contribute</a>
