<h1>Hvordan bruker vi dine data?</h1>
<p>Epost adressen brukes kun til å verifisere at du faktisk eier epost adressen og arbeider i firmaet. 
Etter det blir den kun brukt til å verifisere deg som bruker.
</p>