<script>
function track(email){
    _gaq.push(['_trackEvent', 'Liggeran', 'Click', email]);
}
</script>
<h1>Hvordan ligger du an?</h1>
<ul>
<li>Hva fikk de som tjener samme som meg i lønssøkning?</li>
<li>Burde du fått mer lønnsøkning?</li>
<li>Fikk alle andre mer enn deg dette oppgjøret?</li>
</ul>
<form>
<fieldset>
<legend>Registrer din epost for å motta nyheter om når tjensten åpnes.</legend>
<label for="email"></label>
<input type="text" name="email" id="email"/>
<label>
<button name="save" onClick="return track(document.getElementById('email').value);">Send</button>
</label>
</fieldset>
</form>