body {
	font-size: 16px;
	font-family: arial, helvetica, verdana;
	background-color: #FFF;
	color: #333;
}
a {
	color: #666;
	text-decoration: none;
}
h1 {
	font-size: 3.0em;
	font-family: Tahoma, Verdana, sans-serif;
}
input[type="submit"], button {
	border-radius: 4px 4px;
	padding: 9px;
	font-size: 1.2em;
	background-color: #333;	
	color: #f0f0f0;
	border-color: #fff;
}
input[type="text"]{
	font-size: 1.2em;	
	padding: 10px;
	border-radius: 4px 4px;
	width: 70%;
	border-color: #333;
}
section[role="main"]{
	background-color: #f0f0f0;
	border-radius: 20px 20px;
}
fieldset {
	border: 0px;
}
legend {
	font-size: 1.5em;
	margin-top: 20px;
}
