/* http://kuler.adobe.com/#themeID/1921635 */
body {
	font-size: 16px;
	font-family: arial, helvetica, verdana;
	background-color: #FFF;
	color: #333;
}
a {
	color: #666;
	text-decoration: none;
}
h1 {
	font-size: 3em;
	font-family: Century Gothic, tahoma,sans-serif;
	line-height: 0.9em;
	display: block;
	margin-bottom: 24px;
}
h2 {
	font-size: 1.8em;
	margin-bottom: 12px;
	line-height: 1.5em;
}
ol li {
	list-style: decimal inside;
	line-height: 1.5em;
}
ul li {
	list-style: disc inside;
}
dt {
	font-weight: bold;
	padding-bottom: 4px;
}
dd {
	padding-bottom: 24px;
}
.fancy {
	background-color: #f0f0f0;
	border-radius: 20px 20px;
}
.steps {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	margin-top: 3%;
}
.steps h2 {
	font-size: 1.4em;
}
.steps div {
	margin-bottom: 2%;	
}

input[type="submit"], input[type="button"] {
	border-radius: 4px 4px;
	padding: 12px;
	font-size: 1.0em;
	background-color: #444;	
	color: #fff;

}
input[type="submit"]:hover, input[type="button"]:hover {
	background-color: #000;
}

input[type="text"]{
	font-size: 1.0em;	
	padding: 12px;
	width: 80%;
	border-radius: 4px 4px;
	border-color: #444;
}
.callToAction {
	border-radius: 10px 10px;
	padding: 10px 0 10px 0 ;

}
.callToAction legend {
	padding-bottom: 10px;
}
fieldset {
	border: 0px;
}
legend {
	font-size: 1.5em;
	margin-top: 20px;
}
.promoFooter {
	margin-top: 1%;
}
footer {
	text-align: center;
	background-color: #333;
	color: #f0f0f0;
	padding: 2%;
	width: 100%;
}
footer a {
	margin-right: 8px;
	color: #eee;
}
footer a:hover {
	color: #999;
}	
@media only screen and (min-width: 768px) {
	h1 {
		font-size: 5em;		
	}
}
