body {
	font-size: 14px;
	font-family: arial, helvetica, verdana;
	background-color: #D7DE5B;
	color: #000;
}
a {
	color: #9D2514;
	text-decoration: none;
}
h1 {
	font-size: 3.0em;
}
button {
	border-radius: 4px 4px;
	padding: 8px;
	font-size: 1.2em;
	background-color: #D7DE5B;	
	border-color: #7A8D1A;
}
input[type="text"]{
	font-size: 1.2em;	
	padding: 10px;
	border-radius: 4px 4px;
	width: 70%;
	border-color: #D7DE5B;
}
section[role="main"]{
	background-color: #9E8761;
	border-radius: 20px 20px;
}
fieldset {
	border: 0px;
}
legend {
	font-size: 1.5em;
}
