<h1>Vormshall</h1>

<h2>Pending verifications</h2>
<table>
<thead>
<tr>
<th>Token</th>
<th>Date</th>
<th> </th>
</tr>
</thead>
<tbody>
{{#verificationsOnHold}}
<tr>
    <td>{{token}}</td>
    <td>{{date}}</td>
    <td><a href="#">Approve</a></td>
</tr>
{{/verificationsOnHold}}
</tbody>
</table>